Noip:
  Username: my-noip-username
  Password: my-noip-password
Discord:
  MinecraftChannelWebhookURL: https://ptb.discord.com/api/webhooks/000000000000000000/aaaaaaaaaaaaaaaaaaaaaaaaaaa
  BotPublicKey: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  BotToken: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  BotApplicationId: '000000000000000000'