Noip:
  Username: my-noip-username
  Password: my-noip-password
Discord:
  MinecraftChannelWebhookURL: https://ptb.discord.com/api/webhooks/000000000000000000/aaaaaaaaaaaaaaaaaaaaaaaaaaa
  BotPublicKey: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  BotToken: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  BotApplicationId: '000000000000000000'
  DiscordIntegrationModBotToken: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
Network:
  IPv4: '00.000.000.00'
  IPv6: '0000:0000:0000:0000:0000:0000:0000:0000'
Minecraft:
  Username: aaaaaaaaaa
AWS:
  KeyPairName: aaaaaaaaa